// Extra small phones (portrait view) --> galaxy fold
$screen-xs: 280px;

// Small phones (portrait view)
$screen-sm: 375px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;
