@use '../abstracts' as *;

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  height: var(--countdown-size);
  width: var(--countdown-size);
}

.countdown-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
  transform: rotateY(-180deg) rotateZ(-90deg);
  overflow: visible;
}

.countdown-container:hover .timer-text {
  opacity: 1;
}

.countdown-text {
  color: var(--stroke-color);
  font-size: calc(var(--countdown-size) * 0.3);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding-top: 1.5rem;

  p {
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;
  }

  @include xl {
    p:not(.break-text) {
      opacity: 0;
    }
  }


  .countdown-timer {
    font-size: 2rem;
  }

}



.button-container {
  margin: 3rem
}

.circle-background {
  opacity: 0.2;
}

.circle-progress {
  opacity: 0.6;
}

.countdown-image {
  width: 40px;
}